spring:
  datasource:
#    url: jdbc:postgresql://<Ip Da Maquina>:<Porta>/<Nome Do Banco De Dados>?useTimezone=true&serverTimezone=UTC&useLegacyDate
    url: jdbc:postgresql://localhost:5432/os_works?useTimezone=true&serverTimezone=UTC&useLegacyDate
    username:  # User
    password:  # Senha
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    serialization:
      fail-on-empty-beans: false

logging:
  level:
    org:
      hibernate:
        type: trace
  file:
    name: /logs/app.log

jwt:
  secret:
  expiration: 10800000